  version: "3.7"
  services: 
      indexer:
          build:
              dockerfile: ./indexing/Dockerfile
              context: .
          depends_on:
              - database
          networks:
              - default
              - backend
      database:
          image: postgres
          restart: always
          env_file: 
              - .env
          ports:
              - "9002:5432"
          volumes: 
              - data:/var/lib/postgresql/data
          networks:
              - backend
  volumes:
      data:
  networks:
      backend: